*{
    font-family: sans-serif;
}
.container{
    background-color: rgba(255, 255, 255, 0.555);
    margin-left: 50%;    
    margin-top: 2%;
    overflow: auto;
    color:t;
}

/* NAVIGATION*/
.navcontainer{
    overflow: visible;
    height: 100%;
    margin-top: 2%;
    float: left;
    
}

.navcontainer button{
    display: block;
    margin-left: 30%;      
    margin-top:15px;
    margin-bottom: 15px;

}
.navcontainer input{ 
    width: 75%;
    
}

.userinfo h3{    
   border: 1px solid black;
}

.userinfo li{ 
    list-style-type: none;
    font-size: large;
}


/* CENTER  */
.center{    
    height: 100%;    
    display: inline-block;   
}

/* min sumary*/
.min{
    columns: 3;
    margin-top: 1%;
    display: inline-block;
    height: 12%;
    border-bottom: 1px dashed black;
    border-left: 1px dashed black;           
}

.minicontainer{
    display: inline-block;
    padding-top: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%; 
    opacity: 92%;
    color: white;
    border-radius: 10%;

}
.minicontainer p{
    font-weight: bolder;
    font-size: 25px;   
}
.minicontainer h3{
    font-weight: bolder;
}
  /* max summary*/
.max{    
    font-size: 16px;
    float: right;
    margin-right:8%;
    border-left: 1px dashed black; 
    text-align: center;
}
.max table{
    border-bottom: 1px solid black;
    font-size: 12px;
    margin-left: 10%;

    
}
.form{
    margin-left: 25%;
}
.max h2{    
    margin-left: 25%;
}

#picker{
    position:relative;
}
