*{
  margin: 0px auto;
}
body{
  background-image: url("deg.png");
}
.containerLogin{
  background-color: rgba(255, 255, 255, 0.712);
  text-align: center;
  margin-top: 5%;   
  border-radius: 5%;

}
.containerLogin h2{
  padding-top: 5%;
  font-style: italic;
  color:  rgb(85, 148, 156);
  font-weight: bold;  

}
.formLogin{
  margin-top: 5%; 
  font-weight: bold;
}
.formLogin button{
  margin-top: 10%;
}



.container h2{
  padding-top: 1%;
  font-style: italic;
  color:  rgb(61, 93, 196);
  font-weight: bold;
  
}


.alert{
  color: red;
  
}